* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background: linear-gradient(135deg, #8a2be2, #4169e1);
}
.main_navbar {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #232020;
  align-items: center;
}

.nav_title {
  color: #90f381;
  font-weight: bold;
}

.main_navbar a {
  text-decoration: none;
  color: #fff;
  position: relative;
  padding: 10px;
}

.main_navbar a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #90f381;
  transform: scaleY(0);
  transition: transform 0.3s ease-out;
}

.main_navbar a:hover::after {
  transform: scaleY(1);
}

.login_btn {
  background-color: #fff;
  color: #504a4a;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}

.login_btn:hover {
  background-color: #90f381;
}
